html {
    font-size: 11px;
}

/**********HEADER************/
/*********UP-SECTION*********/
.header {
    height: 608px;
    grid-template-rows: 30px 578px;
}

.up-section {
    background-color: #000000;
}

.up-section .container{
    grid-template: 30px / 50% 50%;
    padding: 0 15px;
}

.phone {
    text-align: left;
    background-color: #000000;
    color: #ffffff;
}

.navigation {
    grid-template-columns: 70px 126px 34px;
    justify-content: end;
}

.navigation-item {
    height: 30px;
}

.navigation-item .my-account {
    grid-template-columns: 14px auto;
    grid-column-gap: 10px;
}

.navigation .my-account span{
    height: 30px;
}

.navigation .user-img img{
    max-width: 13px;
}

.navigation > span+span {
    border-left: 1px solid #444444;
}

.navigation-item:nth-child(1){
    border-left: 1px solid #444444;
}

.navigation-item:nth-child(3){
    border-right: 1px solid #444444;
}

.navigation-item:nth-child(3) img{
    max-width: 15px;
}
/****************************/

/*********MENU-SECTION*******/
.menu-section {
    grid-template-rows: 173px 405px;
}

.menu-section .container{
    grid-template: 76px 48px / 125px 1fr 214px;
    grid-row-gap: 17px;
    padding: 17px 15px;
}

.logo {
    min-width: 125px;
    background-position-x: 0;
    background-size: 125px;
    margin: 5px 0;
}

.menu-section .big-menu {
    display: grid;
}

.menu-section .cart {
    grid-template-rows: 1fr 1fr;
    padding: 5px 0;
}

.menu-section .cart > span {
    padding: 0 12px 0 9px;
}

.menu-section-item .your-cart {
    color: #9f9f9f;
    display: grid;
    justify-content: end;
}

.your-cart-test {
    text-align: left;
}

.your-cart-icon {
    height: auto;
    text-align: right;
}

.your-cart p {
    display: grid;
}

.cart-items {
    grid-template-columns: 1fr 1fr;
    height: 33px;
}

.cart-items .cart-items-icon img{
    max-width: 20px;
}

.menu-section .menu {
    grid-column: 1 / 4;
    font-size: 18px;
    padding: 0 18px;
}

.menu-icon img{
    max-width: 22px;
}
/****************************/
/**********SLIDER************/
.slider {
    display: grid;
}
.slider .smart-container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    grid-template-rows: 350px 55px;
}

.slider-img {
    grid-template: 1fr / 30px 1fr 30px;
    background: url("../img/big-slider.png") no-repeat right;
    background-size: cover;
}

.slider-img .slider-switch {
    height: 117px;
    background-color: rgba(255, 255, 255, 0.9);
}

.slider-img .slider-switch:hover {
    cursor: pointer;
    background-color: #ff946d;
}

.slider-img .slider-switch img{
    grid-template-columns: 12px;
    margin: 0 auto;
    width: 12px;
}

.slider-img .slider-switch .left{
    padding-left: 7px;
}

.slider-img .slider-switch .right{
    padding-right: 7px;
}

.slider-circles {
    display: inline;
    margin: auto;
}

.circle {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #867a76;
    border-radius: 50%;
    margin: 0 10px;
    cursor: pointer;
}

.circle:hover {
    background-color: #fd926d;
}
/****************************/
/****************************/

/***********CONTENT**********/
.content {
    height: 1928px;
    grid-template: 88px 292px 736px 808px / 100%;
}

.email-social-section{
    background-color: #ededed;
    margin-bottom: 33px;
    align-content: start;
}

.email-social-section .container{
    grid-template-rows: 1fr;
    grid-template-columns: 240px 1fr 250px;
    grid-row-gap: 0;
    padding: 0 15px 0 15px;
}

.email {
    grid-template-columns: 1fr 132px 28px;
}

.email > p {
    display: grid;
    color: #6c6c6c;
    text-align: left;
}

.email input {
    height: 25px;
    border: none;
    background-color: #fff;
    padding: 0 10px;
    color: #9f9f9f;
    font-size: 12px;
    font-style: italic;
}

.email .button {
    background: #fd926d url("../img/plus.png") center no-repeat;
    background-size: 10px;
    justify-content: center;
    height: 23px;
    cursor: pointer;
}

.email .button:after {
    content: "";
    width: 28px;
    height: 3px;
    background-color: #dd6b44;
    justify-content: center;
    margin-top: 23px;
    display: block;
}

.email .button:hover {
    background-color: #dd6b44;
    height: 25px;
}

.social {
    grid-column: 3 / 4;
    margin: 0;
    padding: 0;
    grid-template-columns: 1fr repeat(4, 55px);
    color: #6c6c6c;
    font-size: 12px;
}

.social span:first-child {
    grid-column: 1 / 3;
    justify-content: left;
    height: 55px;
}

/****************************/

.advertisement {
    display: grid;
    align-content: start;
}

.advertisement .container {
    height: 257px;
    grid-template: 1fr 1fr / repeat(4, 1fr);
    padding: 0 15px;
    grid-gap: 2px;
}

.outfits {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    grid-template-columns: repeat(9, 1fr);
    background: url("../img/advertisement/pic-1.png") center;
}

.collection {
    grid-column: 3 / 5;
    grid-row: 1 / 2;
    grid-template-columns: repeat(9, 1fr);
    background: url("../img/advertisement/pic-2.png") center;
}

.sellers {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    background: url("../img/advertisement/pic-3.png") center;
    align-content: end;
}

.leather {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
    grid-template-columns: repeat(9, 1fr);
    background: url("../img/advertisement/pic-4.png") center;
}

.adv-item:hover {
    cursor: pointer;
    opacity: 0.5;
}

.outfits > span {
    grid-column: 4 / 10;
    height: 197px;
    background: url("../img/advertisement/outfits.png") no-repeat center;
    background-size: 160px;
}

.collection > span {
    grid-column: 1 / 4;
    height: 131px;
    background: url("../img/advertisement/collection-inner.png") no-repeat right;
    background-size: 100px;
}

.sellers > span {
    height: 40px;
    background: url("../img/advertisement/best sellers.png") no-repeat center;
    padding-bottom: 10px;
    background-size: 140px;
}

.leather > span {
    grid-column: 1 / 7;
    height: 105px;
    width: 140px;
    background: url("../img/advertisement/leather.png") no-repeat center;
    background-size: 117px;
}

/****************************/

/***********FOOTER***********/

.footer {
    grid-template-rows: 58px 347px 74px;
    color: #8d8d8d
}

.credits-section, .middle-section {
    display: grid;
}

.footer .down-section .container {
    grid-template: 100% / 80.026% 19.974%;
}

.credits-section {
    grid-template: 1fr / 550px;
    justify-content: center;
    background-color: #f7f7f7;
    font-size: 12px;
}

.credits-section > span{
    grid-template-columns: 1fr 477px;
}

.middle-section {
    background-color: #ededed;
    padding: 0 15px;
}

.middle-section .container {
    grid-template: 1fr 1fr / repeat(9, 1fr);
    padding: 30px 0 10px;
    grid-row-gap: 35px
}

.middle-section .container h3{
    font-size: 16px;
    font-weight: bold;
    color: #544f4d;
    padding-bottom: 15px;
}

.staff-item {
    align-content: start;
    line-height: 1.49em;
    font-size: 12px;
}

.staff-item > span {
    text-align: left;
}

.staff-item p{
    transition: font-weight, letter-spacing 0.5s;
}

.staff-item p:hover {
    letter-spacing: .25px;
    font-weight: bold;
    cursor: pointer;
}

.service {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

.information {
    grid-column: 3 / 5;
    padding-left: 35px;
}

.campaigns {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}

.stores {
    grid-column: 3 / 5;
    grid-row: 2 / 3;
    padding-left: 35px;
}

.soc-set {
    grid-column: 6 / 8;
    grid-row: 1 / 2;
    padding-left: 35px;
}

.soc-set > span {
    width: 120px;
    height: 77px;
    grid-template: 1fr 1fr / 1fr 1fr 1fr;
    grid-gap: 9px;
}

.soc-set > h3 {
    text-align: left;
}

.security {
    grid-column: 8 / 10;
    grid-row: 1 / 2;
    justify-content: end;
}

.down-section {
    padding: 0 15px;
}

.soc-set-item {
    display: inline-block;
    width: 34px;
    height: 34px;
}

.footer-icon {
    display: none;
}

.footer-menu {
    display: grid;
    grid-template-columns: 100px 115px 80px 95px 55px;
    font-size: 11px;
}

.footer-menu-item:first-child {
    text-align: left;
}

.footer-menu-item+.footer-menu-item {
    border-left: 1px solid #8d8d8d;
}

.footer-menu-item:hover {
    cursor: pointer;
    background-color: #ffffff;
}

.footer-contacts {
    padding-right: 0;
    font-size: 11px;
}
/**********************************/
